{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BlogFrontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="{% static 'styles.fd17957b407cf1e7da1b.css' %}"></head>
<body>
  <app-root></app-root>
<script src="{% static 'runtime-es2015.0dae8cbc97194c7caed4.js' %}" type="module"></script>
<script src="{% static 'runtime-es5.0dae8cbc97194c7caed4.js' %}" nomodule defer></script>
<script src="{% static 'polyfills-es5.177e85a9724683782539.js' %}" nomodule defer></script>
<script src="{% static 'polyfills-es2015.f332a089ad1600448873.js' %}" type="module"></script>
<script src="{% static 'main-es2015.0fac1b0026c208ed48aa.js' %}" type="module"></script>
<script src="{% static 'main-es5.0fac1b0026c208ed48aa.js' %}" nomodule defer></script></body>
</html>
